# Cargo build artifacts
/target
debug

# Formatter backups
**/*.rs.bk

# Windows debug symbols
*.pdb

# Local environment overrides
.env
.env.*
!/.env.example

# Local logs and temp files
*.log
*.tmp
